.banner{
    background-image: url(/src/image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;

}

.chef-info{
    position: absolute;
    top: 50px;
    left: 50px;
    right: 280px;
}

.chef-img{
    width: 340px;
    height: 400px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.card{
  background-image: url(/src/image/card\ banner.jpg);
}