.banner{
    background-image: url(/src/image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;

}

.chef-info{
    position: absolute;
    top: 50px;
    left: 50px;
    right: 280px;
}

@media (max-width: 393px) {
    .chef-info {
        top: 20px;
        left: 10px;
        right: 0px;

    }
}

.chef-img{
    width: 340px;
    height: 400px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

@media (max-width: 393px) {
    .chef-img {
        height: 200px;
        left: 10px;
        
    }
}

.card{
  background-image: url(/src/image/card\ banner.jpg);
}

@media (max-width: 393px) {
    .card {
        height: 400px;
       
    }
}