.bg{
    background-image: url(/src/image/chef-recipe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}

.bg-text{
    position: absolute;
    top: 240px;
    left: 20px;
}

.title{
   
    position: absolute;
    top: 80px;
    left: 20px;
    
}

.chef-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

